body{

  margin:0;

  background:var(--bg-color);

  color:var(--text-color);

  transition:.3s;
}

button{

  background:var(--primary-color);

  color:white;

  border:none;

  padding:8px 18px;

  border-radius:5px;

  cursor:pointer;
}

.card{

  background:var(--surface-color);

  padding:20px;

  border-radius:8px;
}
